* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.input-section {
  background: radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: min-height 0.8s ease;
  transition: min-height 0.8s ease;
}

.input-section .wrong {
  position: absolute;
  top: 40%;
  opacity: 0;
}

.input-section .input-city,
.input-section .submit-button {
  border: 2px solid #999999;
  border-radius: 10px;
}

.input-section .input-city {
  -webkit-box-shadow: 5px 0px 10px 3px grey;
          box-shadow: 5px 0px 10px 3px grey;
  position: absolute;
  top: 50%;
  min-width: 220px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top 0.4s ease, border 0.3s ease;
  transition: top 0.4s ease, border 0.3s ease;
  width: 40%;
  height: 50px;
  font-size: 1.3rem;
  text-align: center;
  outline: none;
  text-overflow: ellipsis;
  padding: 10px;
}

.input-section .input-city:focus {
  border: 2px solid black;
}

.input-section .input-submitted {
  top: 7.5%;
}

.input-section .input-city::-webkit-input-placeholder {
  opacity: 0.5;
}

.vh {
  min-height: 12vh;
}

.display-section {
  position: fixed;
  height: 88vh;
  width: 100vw;
  background: radial-gradient(ellipse at top, #4d9f0c, transparent);
  overflow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-section .weather-report {
  min-width: 280px;
  width: 45%;
  height: 500px;
  border: 5px solid black;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.display-section .weather-report .city-of-choice {
  font-size: 40px;
  padding: 0 10px;
  text-decoration: underline;
}

.display-section .weather-report .timezone {
  text-align: center;
  padding: 10px;
}

.display-section .weather-report h1,
.display-section .weather-report p {
  margin: 15px;
  text-align: center;
}

i {
  font-size: 50px;
  color: orange;
}

.error-response {
  position: absolute;
  color: #333;
  top: 40%;
  text-align: center;
  opacity: 1;
  padding: 0 10px;
}

@media screen and (max-width: 1000px) {
  .display-section .weather-report {
    width: 55%;
  }
}

@media screen and (max-width: 800px) {
  .display-section .weather-report {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .display-section .weather-report {
    width: 85%;
  }
  .error-response {
    top: 35%;
  }
}
