* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.input-section {
  background: radial-gradient(ellipse at bottom, #4d9f0c, transparent);
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: min-height 0.8s ease;

  .wrong {
    position: absolute;
    top: 40%;
    opacity: 0;
  }

  .input-city,
  .submit-button {
    border: 2px solid #999999;
    border-radius: 10px;
  }

  .input-city {
    box-shadow: 5px 0px 10px 3px grey;
    position: absolute;
    top: 50%;
    min-width: 220px;
    transform: translateY(-50%);
    transition: top 0.4s ease, border 0.3s ease;
    width: 40%;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
    outline: none;
    text-overflow: ellipsis;
    padding: 10px;
  }

  .input-city:focus {
    border: 2px solid black;
  }

  .input-submitted {
    top: 7.5%;
  }

  .input-city::-webkit-input-placeholder {
    opacity: 0.5;
  }
}

.vh {
  min-height: 15vh;
}

.display-section {
  position: fixed;
  height: 85vh;
  width: 100vw;
  z-index: 10;
  background: radial-gradient(ellipse at top, #4d9f0c, transparent);
  overflow: none;
  display: flex;
  flex-direction: column;
  .weather-report {
    min-width: 280px;
    width: 45%;
    height: 500px;
    border: 5px solid black;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .city-of-choice {
      font-size: 40px;
      padding: 0 10px;
      text-decoration: underline;
    }
    .timezone {
      text-align: center;
      padding: 10px;
    }

    h1,
    p {
      margin: 15px;
      text-align: center;
    }
  }
}

i {
  font-size: 50px;
  color: orange;
}

.error-response {
  position: absolute;
  color: #333;
  top: 40%;
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .display-section {
    .weather-report {
      width: 55%;
    }
  }
}

@media screen and (max-width: 800px) {
  .display-section {
    .weather-report {
      width: 75%;
    }
  }
}

@media screen and (max-width: 500px) {
  .display-section {
    .weather-report {
      width: 85%;
    }
  }
}
